---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import FormattedDate from './FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

<main>
	<article>
		{heroImage && (
			<div class="hero-image">
				<Image width={1020} height={510} src={heroImage} alt="" />
			</div>
		)}
		<div class="prose">
			<div class="title">
				<div class="date">
					<FormattedDate date={pubDate} />
					{updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)}
				</div>
				<h1>{title}</h1>
				<hr />
			</div>
			<slot />
		</div>
	</article>
</main>

<style>
	main {
		width: calc(100% - 2em);
		max-width: 100%;
		margin: 0;
	}
	.hero-image {
		width: 100%;
	}
	.hero-image img {
		display: block;
		margin: 0 auto;
		border-radius: 12px;
		box-shadow: var(--box-shadow);
	}
	.prose {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
		color: rgb(var(--gray-dark));
		line-height: 1.8;
	}
	html.dark-mode .prose {
		color: #ffffff;
	}
	html.dark-mode .title h1 {
		color: #ffffff !important;
	}
	html.dark-mode .last-updated-on {
		color: #ccc;
	}
	.prose p {
		margin: 0 0 1em;
	}
	.prose ul,
	.prose ol {
		margin: 0 0 1em 1.25em;
		padding-left: 1.25em;
	}
	.prose h2,
	.prose h3 {
		margin-top: 1.5em;
	}
	.prose pre {
		margin: 1em 0;
		padding: 1em;
		border-radius: 8px;
		overflow-x: auto;
		background: rgb(var(--gray-light));
	}
	.prose code {
		font-size: 0.95em;
	}
	.title {
		margin-bottom: 1em;
		padding: 1em 0;
		text-align: center;
		line-height: 1;
	}
	.title h1 {
		margin: 0 0 0.5em 0;
	}
	.date {
		margin-bottom: 0.5em;
		color: rgb(var(--gray));
	}
	.last-updated-on {
		font-style: italic;
	}
</style>